# profile? ???? ?? ??
# format_sql : query? ?? ??? ??? ?? ???? ???? ??
spring:
  jpa:
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
